a {
    text-decoration: none;
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
}

.col-sm-visible {
    display: none;
}

.pos-sticky {
    position: sticky;
}

.windowh {
    height: 100vh;
}

.ratio {
    aspect-ratio: 1 / 1;
}

.triangle {
    width: 0;
    height: 0;
    border-right: 0px solid transparent;
    border-left: 70px solid transparent;
    border-top: 70px solid #141d38;
}

body {
    background-color: #fff;
}

.dark {
    background-color: rgb(18, 18, 18);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 50px;
    height: 26px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.icon-kar {
    color: #fff;
}

.icon-gunes {
    color: yellow;
}

/* preloader */
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #161616;
    z-index: 9999999;
    top: 0;
    left: 0;
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    background: #161616;
    color: #fff;
}

.center {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 90px;
    left: 90px;
}

.dot-1 {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    top: 95px;
    left: 95px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
    animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-2 {
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 60px;
    top: 80px;
    left: 80px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
    animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-3 {
    position: absolute;
    z-index: 1;
    width: 90px;
    height: 90px;
    top: 65px;
    left: 65px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
    animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

@-webkit-keyframes jump-jump-1 {

    0%,
    70% {
        -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes jump-jump-1 {

    0%,
    70% {
        -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes jump-jump-2 {

    0%,
    40% {
        -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes jump-jump-2 {

    0%,
    40% {
        -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes jump-jump-3 {

    0%,
    10% {
        -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes jump-jump-3 {

    0%,
    10% {
        -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.over-top-i {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 50;
    background-color: #161616;
    color: #ff7657;
    padding: 12px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

@media screen and (max-width:992px) {
    .col-sm-zoom90 {
        zoom: 90%;
    }

    .col-sm-zoom75 {
        zoom: 75%;
    }

    .col-sm-visible {
        display: inline-block !important;
    }

    .col-sm-hidden {
        display: none !important;
    }

    .col-sm-mha {
        min-height: auto !important;
    }

    .col-sm-pos-sticky {
        position: sticky;
    }

    .col-sm-wrap {
        white-space: normal !important;
    }

}

.ceviri_def {
    opacity: 1 !important;
}

.ceviri_ru {
    display: none;
}

.ceviri_en {
    display: none;
}

.ceviri_ar {
    display: none;
}

.ceviri_fr {
    display: none;
}

.center-w {
    display: table;
    width: initial;
    margin: auto;
}

.center-h {
    align-items: center;
    display: flex;
}

.center-content {
    width: 100%;
}

.nowrap {
    white-space: nowrap;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis2 {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ellipsis3 {
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ellipsis4 {
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (max-width:992px) {
    .col-sm-center-h {
        display: flex;
        align-items: center;
    }

    .col-sm-center-w {
        display: table;
        width: initial;
        margin: auto;
        float: none !important;
    }

    .col-sm-whitesmoke {
        background-color: whitesmoke;
    }

    .col-sm-ellipsis2 {
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .col-sm-ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .col-sm-back-none {
        background-color: transparent !important;
    }

}

#soft {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.soft-slower2 {
    -webkit-transition: all 0.9s ease-in;
    -moz-transition: all 0.9s ease-out;
    -o-transition: all 0.9s ease-out;
    -ms-transition: all 0.9s ease-out;
    transition: all 0.9s ease-out;
}

.soft-slow2 {
    -webkit-transition: all 0.33s ease-in;
    -moz-transition: all 0.33s ease-out;
    -o-transition: all 0.33s ease-out;
    -ms-transition: all 0.33s ease-out;
    transition: all 0.33s ease-out;
}

.soft-slow3 {
    -webkit-transition: all 3.0s ease-in;
    -moz-transition: all 3.0s ease-out;
    -o-transition: all 3.0s ease-out;
    -ms-transition: all 3.0s ease-out;
    transition: all 3.0s ease-out;
}

.headercontent.pos-sticky {
    position: sticky !important;
}

.pos-sticky {
    position: sticky !important;
}

.op-hover:hover {
    opacity: 1 !important;
}

@media screen and (max-width:992px) {
    .col-sm-back-none {
        background: none !important;
    }

    .member-actions .active {
        background-color: transparent !important;
    }

    .member-actions .active i {
        color: #ef7720 !important;
        opacity: 1 !important;
    }

}

@media screen and (max-width:768px) {
    .col-xs-back-none {
        background: none !important;
    }

    .col-xs-colored {
        color: rgba(48, 48, 48, 1) !important;
    }

    .col-xs-colored-bg {
        background-color: rgba(48, 48, 48, 1) !important;
    }

}

.navbar {
    background-color: transparent !important;
    border: 0px !important;
}

.navbar-default {
    background-color: none !important;
    border: 0px !important;
}

.navbar-default .navbar-form {
    display: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: none;
}

.drop .sub {
    height: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

a {
    text-decoration: none !important;
}

ul {
    padding: none !important;
    list-style: none !important;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

.fw1 {
    font-weight: 100 !important;
}

.fw2 {
    font-weight: 200 !important;
}

.fw3 {
    font-weight: 300 !important;
}

.fw4 {
    font-weight: 400 !important;
}

.fw5 {
    font-weight: 500 !important;
}

.fw6 {
    font-weight: 600 !important;
}

.fw7 {
    font-weight: 700 !important;
}

.fw8 {
    font-weight: 800 !important;
}

.fw9 {
    font-weight: 900 !important;
}

@media screen and (max-width:992px) {
    .col-sm-fw1 {
        font-weight: 100 !important;
    }

    .col-sm-fw2 {
        font-weight: 200 !important;
    }

    .col-sm-fw3 {
        font-weight: 300 !important;
    }

    .col-sm-fw4 {
        font-weight: 400 !important;
    }

    .col-sm-fw5 {
        font-weight: 500 !important;
    }

    .col-sm-fw6 {
        font-weight: 600 !important;
    }

    .col-sm-fw7 {
        font-weight: 700 !important;
    }

    .col-sm-fw8 {
        font-weight: 800 !important;
    }

    .col-sm-fw9 {
        font-weight: 900 !important;
    }

}

@media screen and (max-width:768px) {
    .col-xs-fw1 {
        font-weight: 100 !important;
    }

    .col-xs-fw2 {
        font-weight: 200 !important;
    }

    .col-xs-fw3 {
        font-weight: 300 !important;
    }

    .col-xs-fw4 {
        font-weight: 400 !important;
    }

    .col-xs-fw5 {
        font-weight: 500 !important;
    }

    .col-xs-fw6 {
        font-weight: 600 !important;
    }

    .col-xs-fw7 {
        font-weight: 700 !important;
    }

    .col-xs-fw8 {
        font-weight: 800 !important;
    }

    .col-xs-fw9 {
        font-weight: 900 !important;
    }

}

.mobileMenu {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

@media screen and (max-width:992px) {
    .mobileMenu {
        margin-left: -100%;
    }

}

@media screen and (max-width:992px) {
    .col-sm-zoom70 {
        zoom: 70%;
    }

}

.colored-hover-text4:hover span {
    color: white !important;
}

.sub-content li:last-child {
    border-bottom: 0px !important;
}

.mirror {
    display: block;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}