#team {
    padding: 270px;
    padding-top: 0px !important;
    text-align: center;
}

#team .head {
    text-align: center;
    margin-bottom: 45px;
}

#team .head p {
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
    color: #111;
}

#team .head p span {
    color: #ff7657;
}

#team .team-name {
    font-size: 20px;
    font-weight: 500;
    color: #111;
    margin-top: 20px;
}

#team .team-job {
    font-size: 18px;
    font-weight: 400;
    color: #ff7657;
}

#team .team-img img {
    border-radius: 30% 84% 28% 76% / 87% 23% 69% 29%;
    border: 6px solid #ff7657;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

#team .team-img:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

@media screen and (max-width:992px) {
    #team {
        padding: 0px;
        padding-top: 20px;
    }

    #team .head {
        margin-bottom: 15px
    }

    #team .head p {
        font-weight: 600;
    }

    #team .team-img img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }

    #team .col-6:nth-child(4) {
        flex: 0 0 auto;
        width: 50%;
        display: table;
        margin: auto;
        margin-top: 15px;
    }

    #team .team-name {
        margin-top: 5px;
    }
}

@media screen and (min-width:992px) and (max-width:1400px) {
    #team {
        padding: 80px 0px 80px;
    }
}

/** TEAM DARK MODE  **/
.dark #team .head p {
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
    color: #fff;
}

.dark #team .head p span {
    color: #ff7657;
}

.dark #team .team-name {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
}

/** TEAM DARK MODE END**/